<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="icon" href="/img/home.png">
	<title>Edit | MyWebsite</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
</head>
<body>
	<header>
      <a class="header-logo" href="/">Home</a>
      <a class="header-logo" href="/hello">Hello</a>
      <a class="header-logo" href="/index">LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Edit Item</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">Item</p>
        
        <form action="/update" method="post">
          <input type="hidden" name="itemId" value="<%= item.id %>">
        	<input type="text" style="width: 200px; height: 30px;" name="itemName" value="<%= item.name %>">
        	<input type="submit" class="new-button" value="Update">
        </form>
      
      </div>
      <a href="/index" class="cancel-button"><b>Batal</b></a>
    </div>
</body>
</html>
